<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>YumYumDelivery</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f40eb2dc-380d-4826-8076-4c07290dc00b&lang=ru_RU"
            type="text/javascript"></script>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a3c8b6e52c.js" crossorigin="anonymous"></script>
<header class="header-main">
    <nav class="navbar">
        <div class="row" style="align-items: center;">
            {% block header %}{% include 'header_template.html' %}{% endblock %}
        </div>
    </nav>
</header>
<div class="container">
    <h1 id="main-title">Все рестораны</h1>
    <div class="div">
        <a class="type-rest" id="all_rest" href="#" data-type="0">Все</a>
        {% for type_res in type_rests %}
        {% if forloop.counter <= 3 %}
        <a class="type-rest" href="#" data-type="{{ type_res.id }}">{{ type_res.type }}</a>
        {% else %}
        {% if forloop.counter == 4 %}
        <div class="dropdown">
            <button class="dropbtn">Ещё</button>
            <div class="dropdown-content">
                {% endif %}
                <a href="#" data-type="{{ type_res.id }}">{{ type_res.type }}</a>
                {% if forloop.last %}
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <div class="restaurant-block">
        {% for restaurant in restaurants %}
        <div class="restaurant-item" data-type-rest="{{ restaurant.type }}" data-name="{{ restaurant.name }}" onclick="location.href='/restaurant/{{ restaurant.url_address }}'">
            <img class="photo-rest" src="{{ restaurant.image }}" alt="{{ restaurant.name }} image">
            <h2 id="title-rest-{{ restaurant.id }}">{{ restaurant.name }}</h2>
        </div>
        {% endfor %}
    </div>
</div>
</body>
<script src="{% static 'js/homepage.js' %}"></script>
</html>
