{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<header class="header-main">
        <nav class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="../static/res/logo.png" alt="Logo">
                    </div>
                </div>
            </div>
        </nav>
    </header>
<div class="form-auth">
    <form action="/postsignIn/" method="post">
    {% csrf_token %}
    <h1 style="color: black;">Авторизация</h1>
    <label for="Email">E-mail</label>
    <input type="email"id="Email" name="email" placeholder="Введите ваш E-mail"><br><br>

    <label for="Password">Пароль</label>
    <input type="password" id="Password" name="pass" placeholder="Введите ваш пароль"><br><br>

    <input type="submit" value="Войти"><br><br>
    <p>Забыли пароль? <a href="/reset/">Сбросте пароль здесь</a></p>

    <div class="remember-checkbox">
        <label for="remember">Запомнить меня</label>
        <input type="checkbox" checked="checked" id="remember" class="remember" name="remember">
    </div>
    <button class="regist" type="button" onclick="location.href='{% url 'signup' %} '">Зарегистрироваться</button>
</form>
</div>
<footer class="footer-main">
    <p><strong>YumYumDelivery, 2024</strong></p>
</footer>
</body>
</html>
