<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Return Requests Operator Panel</title>
</head>
<body>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-4">
            <h2>Обращения</h2>
            <div class="list-group" id="return-requests-list">
                <ul class="list-group">
                   {% for feedback in feedbacks %}
                        <li class="list-group-item order-list" data-feedback-id="{{ feedback.id }}">
                            <div>#{{ feedback.id }}</div>
                            <div>Номер заказа-{{ feedback.order_id }}</div>
                            <div>Время обращения {{ feedback.datetime_feedback }}</div>
                            <div></div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Детали обращения</h2>
                </div>
                <div class="card-body" id="request-details">
                    <p>Select a request to view details.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/operator.js' %}"></script>
</body>
</html>
