<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Form</title>

    <!-- Stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- Подключение вашего собственного CSS -->
    <link rel="stylesheet" href="{% static 'css/pay_of_order.css' %}">
</head>
<body class="container">

    <h1 class="mt-5">Order Payment</h1>

    <form id="payment-form" class="mt-3">
        <div class="mb-3">
            <label for="card_holder_name" class="form-label">Cardholder Name:</label>
            <input type="text" id="card_holder_name" class="form-control" placeholder="Enter cardholder name" required>
        </div>

        <div class="mb-3">
            <label for="card-element" class="form-label">Credit Card Details:</label>
            <div id="card-element" class="form-control"></div>
        </div>

        <button type="button" id="btn_pay" class="btn btn-primary" onclick="processPayment()">Pay Now</button>
    </form>

    <!-- Подключение вашего собственного JavaScript -->
    <script src="{% static 'js/pay_of_order.js' %}"></script>
</body>
</html>
