<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оформление заказа</title>
    <link rel="stylesheet" href="{% static 'css/place_order.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

    </style>
</head>
<body>

{% block header %}{% include 'Passive_header.html' %}{% endblock %}

<div class="container-fluid">
    <div class="column">
        <form id="orderForm" action="/payOfOrder/{{ restaurant.0.url_address }}" method="post">
            {% csrf_token %}
            <label style="text-align: center;">Подробности доставки</label>

            <label for="street">Улица:</label>
            <input type="text" id="street" name="street" placeholder="Улица, Номер улицы" required/>

            <label for="flatNumber">Квартира:</label>
            <input type="text" id="flatNumber" name="flatNumber" placeholder="Номер Квартиры"/>

            <label for="entrance">Подъезд:</label>
            <input type="text" id="entrance" name="entrance" placeholder="Номер подъезда"/>

            <label for="intercom">Домофон:</label>
            <input type="text" id="intercom" name="intercom" placeholder="Домофон"/>

            <label for="floor">Этаж:</label>
            <input type="text" id="floor" name="floor" placeholder="Этаж"/>

            <label for="comments">Комментарий для курьера:</label>
            <textarea id="comments" name="comments"></textarea>

            <button type="submit">Оплатить</button>
        </form>
    </div>
    <div class="column">
        <label class="text-structur">Состав заказа</label>
        <label class="clear-cart" id="clear" onclick="clearRestCart('{{ restaurant.0.url_address }}')">Очистить корзину</label>
        <ul id="cart-list"></ul>
        <label id="totalCostValue"></label>
        <label>Доставка: 20 ₽</label>
        <label id="totalCostWithDeliveryValue"></label>
    </div>
</div>

<script src="{% static 'js/place_order.js' %}"></script>
<script src="https://kit.fontawesome.com/680b9acf9e.js" crossorigin="anonymous"></script>
<script>
    let uidCookie = getCookie('uid');
    function updateCartView() {
    let cartList = document.getElementById('cart-list');
    cartList.innerHTML = '';

    let partialName = '';
    let foundCookie = '';

    {% for rest in restaurant %}
        partialName = `cart-"{{ rest.url_address }}"-${uidCookie}`;
        foundCookie = getCookieByPartialName(partialName);

        if (foundCookie) {
            let restId = '';
            let ListCartRest = document.getElementById(`cart-list`);

            if (ListCartRest) {
                const cartItems = foundCookie ? JSON.parse(foundCookie) : [];
                CostOrder = 0;
                cartItems.forEach(item => {
                    const li = document.createElement('li');
                    li.className = 'cart-item';
                    li.id = '{{ rest.id }}';
                    li.dataset.restaurant = '{{ rest.id }}';

                    const totalCostForItem = item.cost * item.quantity;

                    restId = "${item.restaurant}";

                    li.innerHTML = `
                            <img src="${item.photo}" alt="${item.name}">
                            <div class="cart-item-details">
                                <div class="cart-item-name">${item.name}</div>
                                <div class="cart-item-price">${totalCostForItem} ₽</div>
                                <div class="cart-item-weight">${item.weight} г</div>
                            </div>
                            <div class="cart-item-counter">
                                <button type="button" onclick="decreaseQuantity('${item.id}', '{{ rest.url_address }}')">-</button>
                                <input type="text" class="dish-quantity" value="${item.quantity}" readonly>
                                <button type="button" onclick="increaseQuantity('${item.id}', '{{ rest.url_address }}')">+</button>
                            </div>`;

                    ListCartRest.appendChild(li);
                    CostOrder += totalCostForItem;
                });
                var totalCostValueElement = document.getElementById('totalCostValue');
                totalCostValueElement.textContent = 'Итого: ' + CostOrder + ' ₽';
                var WithDeliveryValueElement = document.getElementById('totalCostWithDeliveryValue');
                WithDeliveryValueElement.textContent = 'Общая сумма: ' + (CostOrder+20) + ' ₽';
            }
         }
    {% endfor %}
}

    function clearRestCart(Rest) {
        const userDecision = confirm('Хотите очистить корзину? (Корзина останется пустой, и оформление заказа прервётся)');
        if (userDecision) {
            let deleteRestCart = NameByPartial(Rest);
            document.cookie = deleteRestCart + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            window.location.href = '/';
        }
    }

    function NameByPartial(partialName) {
        const cookies = document.cookie.split('; ');

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i];
            if (cookie.includes(partialName)) {
                const [name, value] = cookie.split('=');
                return name;
            }
        }
        return null;
    }

    function getCookieByPartialName(partialName) {
        const cookies = document.cookie.split('; ');

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i];
            if (cookie.includes(partialName)) {
                const [name, value] = cookie.split('=');
                return getCookie(name);
            }
        }

        return null;
    }

    function increaseQuantity(itemId, rest) {
        updateCartItemQuantity(itemId, 1, rest);
    }

    // Функция для уменьшения количества блюда в корзине
    function decreaseQuantity(itemId, rest) {
        updateCartItemQuantity(itemId, -1, rest);
    }

    // Функция для обновления количества блюда в корзине
    function updateCartItemQuantity(itemId, change, rest) {
        let partialName = `cart-"${rest}"-${uidCookie}`;
        let foundCookie = getCookieByPartialName(partialName);

        if (foundCookie) {
            let cartItems = JSON.parse(foundCookie);

            // Находим блюдо в корзине по его ID
            const index = cartItems.findIndex(item => item.id === itemId);

            if (index !== -1) {
                // Увеличиваем или уменьшаем количество
                cartItems[index].quantity += change;

                // Если количество стало 0, удаляем блюдо из корзины
                if (cartItems[index].quantity <= 0) {
                    cartItems.splice(index, 1);
                }

                // Обновляем cookie с обновленной корзиной
                document.cookie = `${partialName}=${JSON.stringify(cartItems)}; path=/;`;

                // Обновляем отображение корзины
                updateCartView();
            }
        }
    }

    $(document).ready(function () {
        updateCartView()
    });
</script>
</body>
</html>
