{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оформление заказа</title>
    <link rel="stylesheet" href="{% static 'css/place_order.css' %}">
</head>
<body>
    <h1>Оформление заказа из ресторана {{ rest_name.0.name }}</h1>

    <form id="orderForm" action="/payOfOrder/" method="post">
    {% csrf_token %}
        <label>Адрес доставки</label>

        <label for="street">Улица:</label>
        <input type="text" id="street" name="street" required>

        <label for="houseNumber">Дом:</label>
        <input type="text" id="houseNumber" name="houseNumber">

        <label for="entrance">Подъезд:</label>
        <input type="text" id="entrance" name="entrance">

        <label for="intercom">Домофон:</label>
        <input type="text" id="intercom" name="intercom">

        <label for="floor">Этаж:</label>
        <input type="text" id="floor" name="floor">

        <label for="comments">Комментарий для курьера:</label>
        <textarea id="comments" name="comments"></textarea>

        <label for="orderItems">Список заказанных блюд:</label>
        <ul id="orderItems">
            {% for dish in dishes %}
            <li>
                <img src="{{ dish.photo }}" alt="{{ dish.name }}" style="width: 100%; max-width: 400px; height: auto;">
                {{ dish.name }} - {{ dish.cost }} ₽ x {{ dish.quantity }} шт.
            </li>
            {% endfor %}
        </ul>

        <button type="submit">Оплатить</button>
    </form>
    <script src="{% static 'js/place_order.js' %}"></script>
</body>
</html>
