<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
    <header class="header-main">
        <nav class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="../static/res/logo.png" alt="Logo">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="form-regist">
        <form action="/postsignUp/" method="post">
            {% csrf_token %}
            <h1 class="h1-title">Заполните форму для регистрации</h1>
            <label for="Email">E-mail</label>
            <input type="email" id="Email" name="email" placeholder="Введите ваш E-mail">

            <label for="Password">Введите пароль</label>
            <input type="password" id="Password" name="pass" placeholder="Введите пароль">

            <label for="confirm_password">Повторите пароль</label>
            <input type="password" id="confirm_password" name="pass-repeat" placeholder="Повторите пароль">

            <label for="username">Укажите ваше имя</label>
            <input type="name" id="Username" name="name" placeholder="Имя">

            <label for="surname">Укажите вашу фамилию</label>
            <input type="surname" id="surname" name="surname" placeholder="Фамилия">

            <label for="patronymic">Укажите ваше отчество (При наличии)</label>
            <input type="patronymic" id="patronymic" name="patronymic" placeholder="Фамилия">

            <div class="remember-checkbox">
                <label for="remember">Запомнить меня</label>
                <input type="checkbox" checked="checked" id="remember" class="remember" name="remember">
            </div>

            <button class="regist" type="submit">Зарегистрироваться</button>
        </form>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <footer class="footer-main">
        <p><strong>YumYumDelivery, 2024</strong></p>
    </footer>
</body>
</html>
