<!DOCTYPE html>
{% load static %}
{% if msg %}
    <script>
        window.alert('{{msg}}');
    </script>
{% endif %}
<html lang="ru">
<head>
    <script src="https://kit.fontawesome.com/680b9acf9e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
    <header class="header-main">
        <nav class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'res/logo.png' %}" alt="Logo">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="back">
        <a href="/" style="display: flex; align-items: center; text-decoration: none; color: black;">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <div class="container">
        <div class="inner">
            <h1>Восстановление пароля</h1><br>
            <form action="/postReset/" method="POST">
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="Введите E-mail с которого вы регистрировались" required><br><br>
                <input type="submit" value="Отправить ссылку для сброса пароля">
            </form>
        </div>
    </div>
    <footer class="footer-main">
        <p><strong>YumYumDelivery, 2024</strong></p>
    </footer>
</body>
</html>
