<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/rest_admin.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Dish</title>
</head>
<body>

<header class="header-main">
        <nav class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'res/logo.png' %}" alt="Logo" onclick="window.location.replace('/');">
                    </div>
                </div>
            </div>
        </nav>
    </header>
<div class="title-panel">Панель администратора ресторана &laquo;{{ rest.0.name }}&raquo;</div>
<div class="admin-panel">
    <h1 id="menu-link">Блюда ресторана</h1>
    <h1 id="info-link">Информация ресторана</h1>
    <h1 id="orders-link">Заказы</h1>
</div>

<div id="menu-form" enctype="multipart/form-data">
   <table id="dishes-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Стоимость (₽)</th>
            <th>Калории</th>
            <th>Углеводы</th>
            <th>Жиры</th>
            <th>Белки</th>
            <th>Вес</th>
            <th>Описание</th>
            <th>Тип блюда</th>
            <th id="Photo">Изображение</th>
            <th id="Actions">Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for dish in dishes %}
            <tr class="dish-separator">
                <td>{{ dish.id }}</td>
                <td>{{ dish.name }}</td>
                <td>{{ dish.cost }}</td>
                <td>{{ dish.calories }}</td>
                <td>{{ dish.carbohydrates }}</td>
                <td>{{ dish.fats }}</td>
                <td>{{ dish.proteins }}</td>
                <td>{{ dish.weight }}</td>
                <td>{{ dish.description }}</td>
                <td id="dish-type-{{ dish.id }}">
                    {% for category in categories_dish %}
                        {% if category.id == dish.dish_type %}
                            {{ category.type }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><img src="{{ dish.photo }}" alt="{{ dish.name }}"></td>
                <td class="dish-actions">
                    <form class="delete_dish" id="delete_dish_{{ dish.id }}" method="post" action="/delete_dish/{{ rest_slug }}/{{ dish.id }}">
                        {% csrf_token %}
                        <button type="submit">Удалить</button>
                    </form>
                    <button id="open-menu-dialog-btn-edit_{{ dish.id }}">Изменить</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <button id="open-menu-dialog-btn">Добавить блюдо</button>
    <div id="menu-dialog">
        <form id="add-form" action="/add_dish/{{rest_slug}}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea><br>

            <label for="type-food">Type of dishes:</label>
            <select class="js-select2" id="type-food" name="type-food" placeholder="Выберите тип блюда" style="width: 150px">
                {% for category in categories_dish %}
                    <option value="{{category.id}}">{{category.type}}</option>
                {% endfor %}
            </select><br>

            <label for="weight">Weight (grams):</label>
            <input type="number" id="weight" name="weight" required><br>

            <label for="cost">Cost:</label>
            <input type="number" id="cost" name="cost" required><br>

            <label for="photo_dish">Photo:</label>
            <input type="file" id="photo_dish" name="photo_dish" accept="image/*" onchange="handleImageUpload()"><br>

            <div id="image-preview-container">
                <img id="image-preview" src="#" alt="Preview" style="max-width: 300px; max-height: 300px; display: none;">
            </div>

            <label for="calories">Calories:</label>
            <input type="number" id="calories" name="calories" required><br>

            <label for="proteins">Proteins:</label>
            <input type="number" id="proteins" name="proteins" required><br>

            <label for="carbohydrates">Carbohydrates:</label>
            <input type="number" id="carbohydrates" name="carbohydrates" required><br>

            <label for="fats">Fats:</label>
            <input type="number" id="fats" name="fats" required><br>

            <button type="submit">Add Dish</button>
        </form>
        <button id="close-dialog">Close</button>
    </div>
    {% for dish in dishes %}
        <div id="menu-dialog-edit_{{ dish.id }}">
            <form id="edit-form_{{ dish.id }}" action="/edit/{{ rest_slug }}/{{ dish.id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" id="name-edit_{{ dish.id }}" name="name" value="{{ dish.name }}" required><br>

                <label for="description">Description:</label>
                <textarea id="description-edit_{{ dish.id }}" name="description" required>{{ dish.description }}</textarea><br>

                <label for="type-food">Type of dishes:</label>
                <select class="js-select2" id="type-food-edit_{{ dish.id }}" name="type-food" placeholder="Выберите тип блюда" style="width: 150px">
                    {% for category in categories_dish %}
                        <option value="{{category.id}}" {% if category.id == dish.dish_type %}selected{% endif %}>
                            {{category.type}}
                        </option>
                    {% endfor %}
                </select><br>

                <label for="weight">Weight (grams):</label>
                <input type="number" id="weight-edit_{{ dish.id }}" name="weight" value="{{ dish.weight }}" required><br>

                <label for="cost">Cost:</label>
                <input type="number" id="cost-edit_{{ dish.id }}" name="cost" value="{{ dish.cost }}" required><br>

                <label for="photo_dish">Photo:</label>
                <input type="file" id="photo_dish-edit_{{ dish.id }}" name="photo_dish" accept="image/*" onchange="handleImageUploadEdit('{{ dish.id }}')"><br>

                <div id="image-preview-container-edit">
                    <img id="image-preview-edit_{{ dish.id }}" src="{{ dish.photo }}" alt="Preview" style="max-width: 300px; max-height: 300px; display: none;">
                </div>

                <label for="calories">Calories:</label>
                <input type="number" id="calories-edit_{{ dish.id }}" name="calories" value="{{ dish.calories }}" required><br>

                <label for="proteins">Proteins:</label>
                <input type="number" id="proteins-edit_{{ dish.id }}" name="proteins" value="{{ dish.proteins }}" required><br>

                <label for="carbohydrates">Carbohydrates:</label>
                <input type="number" id="carbohydrates-edit_{{ dish.id }}" name="carbohydrates" value="{{ dish.carbohydrates }}" required><br>

                <label for="fats">Fats:</label>
                <input type="number" id="fats-edit_{{ dish.id }}" name="fats" value="{{ dish.fats }}" required><br>
                    <button type="submit">Edit Dish</button>
                </form>
                <button id="close-dialog-edit_{{ dish.id }}">Close</button>
        </div>
        {% endfor %}
    </div>

<form id="info-form" action="/republic/{{rest_slug}}" method="post" enctype="multipart/form-data">
    <div class="container mt-5">
        <h2>Редактирование информации ресторана</h2>
        {% csrf_token %}
        <div class="mb-3">
            <label for="name_rest" class="form-label">Название ресторана:</label>
            <input type="text" class="form-control" id="name_rest" name="name_rest" value="{{ rest.0.name }}" required>
        </div>
        <div class="mb-3">
            <label for="address_rest" class="form-label">Адрес ресторана:</label>
            <input type="text" class="form-control" id="address_rest" name="address_rest" value="{{ rest.0.adress }}" required>
        </div>
        <label for="type-rest">Тип ресторана:</label>
        <select class="js-select2" id="type-rest" name="type-rest" placeholder="Выберите тип ретсорана" style="width: 150px">
            {% for category in categories_rest %}
                <option value="{{category.id}}" {% if category.id == rest.0.type %}selected{% endif %}>
                    {{category.type}}
                </option>
            {% endfor %}
        </select><br>
        <div class="mb-3">
            <label for="representative" class="form-label">Владелец:</label>
            <input type="text" class="form-control" id="representative" name="representative" value="{{ rest.0.representative }}" required>
        </div>
        <div class="mb-3">
            <label for="url_address" class="form-label">Адрес URL:</label>
            <input type="text" class="form-control" id="url_address" name="url_address" value="{{ rest.0.url_address }}" required>
        </div>
        <div class="mb-3">
            <label for="avg_time_cook" class="form-label">Cреднее время приготовления (в минутах):</label>
            <input type="number" class="form-control" id="avg_time_cook" name="avg_time_cook" value="{{ rest.0.avg_time_cook }}" required>
        </div>
        <div class="mb-3">
            <label for="start-work" class="form-label">Время начала рабоечего времени(в формате XX:XX):</label>
            <input type="time" class="form-control" id="start-work" name="start-work" value="{{ rest.0.start_work}}" required>
        </div>
        <div class="mb-3">
            <label for="end-work" class="form-label">Время окончания рабоечего времени(в формате XX:XX):</label>
            <input type="time" class="form-control" id="end-work" name="end-work" value="{{ rest.0.end_work }}" required>
        </div>
        <div class="mb-3">
            <label for="photo_rest">Photo:</label>
            <input type="file" id="photo_rest" name="photo_rest" accept="image/*" onchange="handleImageUploadRest()"><br>

            <div id="image-preview-container-rest">
                <img id="image-preview-rest" src="{{ rest.0.image }}" alt="Preview" style="max-width: 300px; max-height: 300px; display: block;">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
</form>

    <div id="orders-block">
        {% for order in orders %}
        <div class="container mt-5 orders-list" id="el-{{ order.id }}">
            <h2>Список заказов</h2>
            <li class="order-list" id="md-{{ order.id }}" data-order-id="{{ order.id }}">
                <p id="orderId" data-order-id="{{ order.id }}"><strong>ID заказа:</strong> {{ order.id }}</p>
                <p><strong>Дата и время:</strong> {{ order.data_time }}</p>
                <p><strong>Статус заказа:</strong> {{ order.order_status }}</p>
            </li>
        </div>
        <div id="od-{{ order.id }}" class="container mt-5 order-details with-box-shadow" data-detail-id="{{ order.id }}" hidden="">
            <h2>Детали заказа</h2>
            <div id="order-details-container">
                <p><strong>ID заказа:</strong>{{ order.id }}</p>
                <p><strong>Дата и время:</strong> {{ order.data_time }}</p>
                <p><strong>Блюда</strong></p>
                </p>
                    {% for dish in order.dishes %}
                    <img src="{{ dish.photo }}" alt="{{ dish.name }}" class="compact-image">
                    <strong>{{ dish.name }}</strong> - {{ dish.cost }} ₽ x {{ dish.quantity }} шт.
                    {% endfor %}
                </p>
                <p><strong>Сумма заказа:</strong> {{ order.summa }} ₽</p>
                <p><strong>Курьер:</strong> <a href="{{ order.courier }}">{{ order.courier }}</a></p>
                <button id="status_{{ order.id }}" type="button">Изменить статус заказа</button>
            </div>
            <div id="status-dialog_{{ order.id }}" class="status-dialog">
                <form id="status-form_{{ order.id }}" method="post" action="/change_status/{{ rest_slug }}/{{ order.id }}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="status-dish_{{ order.id }}">Статус заказа: {{order.order_status}}</label>
                    <div class="custom-select-container">
                        <select class="js-select2 custom-select" id="status-dish_{{ order.id }}" name="status" required>
                            <option value="Заказ оформлен" selected>Заказ оформлен</option>
                            <option value="Сборка">Сборка</option>
                            <option value="Передан курьеру">Передан курьеру</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function handleImageUploadEdit(dishId) {
            const inputPhotoEdit = document.getElementById(`photo_dish-edit_${dishId}`);
            const imagePreviewEdit = document.getElementById(`image-preview-edit_${dishId}`);
            const imagePreviewContainerEdit = document.getElementById(`image-preview-container-edit_${dishId}`);

            const file = inputPhotoEdit.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreviewEdit.src = e.target.result;
                    imagePreviewEdit.style.display = 'block';
                    imagePreviewContainerEdit.style.display = 'block';
                };

                reader.readAsDataURL(file);
            }
        }

    $(document).ready(function() {
            // Скрыть все формы при загрузке страницы
            $('form').hide();
            $('#menu-form').hide();
            $('#orders-block').hide();
            {% for dish in dishes %}
                $('#menu-dialog-edit_{{ dish.id }}').hide();
            {% endfor %}
            {% for order in orders %}
                $('#status-dialog_{{ order.id }}').hide();
            {% endfor %}


            // Обработчик для "Блюда ресторана"
            $('#menu-link').click(function() {
                $('.admin-panel h1').removeClass('active');
                $(this).addClass('active');
                $('form').hide();
                $('#orders-block').hide();
                $('#info-form').hide();
                $('.delete_dish').show();
                $('#menu-form').show();
            });

            $('#info-link').click(function() {
                $('.admin-panel h1').removeClass('active');
                $(this).addClass('active');
                $('form').hide();
                $('#orders-block').hide();
                $('#menu-form').hide();
                $('#info-form').show();
            });

            $('#orders-link').click(function() {
                $('.admin-panel h1').removeClass('active');
                $(this).addClass('active');
                $('form').hide();
                $('#menu-form').hide();
                $('#info-form').hide();
                $('#orders-block').show();
            });


            $('.js-select2').select2({
                placeholder: "Выберите тип блюда",
                maximumSelectionLength: 2,
                language: "ru"
            });

            // Открытие диалога добавления блюда
            $("#menu-dialog").dialog({
                autoOpen: false,
                width: 400,
                modal: true
            });

            // Открытие диалога на кнопку
            $('#open-menu-dialog-btn').click(function() {
                $('form').hide();
                $('#menu-form').show();
                $('#add-form').show();

                $("#menu-dialog").dialog("open");

                // Инициализация Select2 для элемента с id 'type-food'
                $('#type-food').select2({
                    placeholder: "Выберите тип блюда",
                    maximumSelectionLength: 2,
                    language: "ru"
                });
            });

            // Закрытие диалога на кнопку
            $('#close-dialog').click(function() {
                $("#menu-dialog").dialog("close");
            });
        });

document.addEventListener('DOMContentLoaded', function () {
        const openMenuDialogBtn = document.getElementById('open-menu-dialog-btn');
        const closeDialogBtn = document.getElementById('close-dialog');

        const inputPhoto = document.getElementById('photo_dish');
        const imagePreview = document.getElementById('image-preview');
        const imagePreviewContainer = document.getElementById('image-preview-container');

        inputPhoto.addEventListener('change', handleImageUpload);

        const inputPhotoRest = document.getElementById('photo_rest');
        const imagePreviewRest = document.getElementById('image-preview-rest');
        const imagePreviewContainerRest = document.getElementById('image-preview-container-rest');

        inputPhotoRest.addEventListener('change', handleImageUploadRest);

        function handleImageUpload() {
            const file = inputPhoto.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                    imagePreviewContainer.style.display = 'block';
                };

                reader.readAsDataURL(file);
            }
        }



        function handleImageUploadRest() {
            const file = inputPhotoRest.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreviewRest.src = e.target.result;
                    imagePreviewRest.style.display = 'block';
                    imagePreviewContainerRest.style.display = 'block';
                };

                reader.readAsDataURL(file);
            }
        }

        openMenuDialogBtn.addEventListener('click', function () {
            const dialog = $("#menu-dialog");
            if (dialog.dialog('instance') === undefined) {
                // Initialize the dialog if not already initialized
                dialog.dialog({
                    autoOpen: false,
                    width: 400,
                    modal: true
                });
            }

            // Open the dialog
            dialog.dialog('open');

            // Initialize Select2 for the element with id 'type-food'
            $('#type-food').select2({
                placeholder: "Выберите тип блюда",
                maximumSelectionLength: 2,
                language: "ru",
                tags: true,
                dropdownParent: $("#menu-dialog")
            });
        });

        closeDialogBtn.addEventListener('click', function () {
            const dialog = $("#menu-dialog");
            if (dialog.dialog('instance') !== undefined) {
                // Close the dialog if initialized
                dialog.dialog('close');
            }
        });

        // Открытие диалога добавления блюда
        $("#menu-dialog").dialog({
            autoOpen: false,
            width: 400,
            modal: true
        });

        // Открытие диалога редактирования блюда
        {% for dish in dishes %}
            $('#open-menu-dialog-btn-edit_{{ dish.id }}').click(function () {
                const editDialog = $("#menu-dialog-edit_{{ dish.id }}");
                if (editDialog.dialog('instance') === undefined) {
                    // Initialize the edit dialog if not already initialized
                    editDialog.dialog({
                        autoOpen: false,
                        width: 400,
                        modal: true
                    });
                }
                $('form').hide();
                $('#menu-form').hide();
                $('#edit-form_{{ dish.id }}').show();

                // Open the edit dialog
                editDialog.dialog('open');

                // Initialize Select2 for the element with id 'type-food-edit_{{ dish.id }}'
                $('#type-food-edit_{{ dish.id }}').select2({
                    placeholder: "Выберите тип блюда",
                    maximumSelectionLength: 2,
                    language: "ru",
                    tags: true,
                    dropdownParent: $("#menu-dialog-edit_{{ dish.id }}")
                });

                // Load the existing image preview in the edit dialog
                const existingImage = $('#image-preview-edit_{{ dish.id }}').attr('src');
                if (existingImage) {
                    $('#image-preview-edit_{{ dish.id }}').css('display', 'block');
                    $('#image-preview-container-edit_{{ dish.id }}').css('display', 'block');
                }
            });

            // Close edit dialogs
            $('#close-dialog-edit_{{ dish.id }}').click(function () {
                $("#menu-dialog-edit_{{ dish.id }}").dialog("close");
            });
        {% endfor %}

        {% for order in orders %}
            $('#status_{{ order.id }}').click(function () {
                const statusDialog = $("#status-dialog_{{ order.id }}");
                const submitForm = $("#status-form_{{ order.id }}");

                if (statusDialog.dialog('instance') === undefined) {
                    // Initialize the status dialog if not already initialized
                    statusDialog.dialog({
                        autoOpen: false,
                        width: 400,
                        height: 320,
                        modal: true,
                        buttons: {
                            'Submit': function() {
                                submitForm.submit();  // Submit the form when the dialog's Submit button is clicked
                                $(this).dialog('close');
                            },
                            'Cancel': function() {
                                $(this).dialog('close');
                            }
                        }
                    });
                }

                $('form').hide();
                $('#menu-form').hide();
                $('#status-form_{{ order.id }}').show();

                // Open the status dialog
                statusDialog.dialog('open');

                // Initialize Select2 for the element with id 'status-dish'
                $('#status-dish_{{ order.id }}').select2({
                    placeholder: "Выберите статус заказа",
                    language: "ru",
                    tags: true,
                    dropdownParent: $("#status-dialog_{{ order.id }}")
                });
            });

            // Close status dialogs
            $('#close-dialog-status_{{ order.id }}').click(function () {
                $("#status-dialog_{{ order.id }}").dialog("close");
            });
        {% endfor %}

    });
</script>
<script src="{% static 'js/rest_admin.js' %}"></script>
</body>
</html>