<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #cd-cart {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100%;
            padding-top: 50px; /* header height */
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            transition: right 0.3s;
        }

        #cd-cart.speed-in {
            right: 0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<header>
    <div id="logo"></div>

    <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
    <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>


</header>

<nav id="main-nav">
    <ul>
        <li><a href="#0">Home</a></li>
        <li><a href="#0">About</a></li>
        <li><!-- ... --></li>
    </ul>
</nav>

<main>
    <!-- content here -->
</main>

<div id="cd-shadow-layer"></div>

<div id="cd-cart">
    <h2>Cart</h2>
    <ul class="cd-cart-items">
        <li>
            <!-- ... -->
        </li>

        <li>
            <!-- ... -->
        </li>
    </ul> <!-- cd-cart-items -->

    <div class="cd-cart-total">
        <p>Total <span>$39.96</span></p>
    </div> <!-- cd-cart-total -->

    <a href="#0" class="checkout-btn">Checkout</a>

    <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
</div> <!-- cd-cart -->
<script>
    function move_navigation($navigation, $MQ) {
        if ($(window).width() >= $MQ) {
            $navigation.detach();
            $navigation.appendTo('header');
        } else {
            $navigation.detach();
            $navigation.insertAfter('header');
        }
    }
</script>
</body>
</html>