/* Responsive Styles */
        @media only screen and (max-width: 1900px) {
            .logo {
                content: url('/static/res/logo-mini.png');
                background-size: contain;
                width: 60px;
                height: 60px;
            }
        }

        /* Dialog Styles */
        #address-dialog,
        #user-data-dialog {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
        }

        #user-data-dialog {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: auto;
        }

        .avatar {
            width: 60px;
            height: 60px;
            max-height: 60px;
            border-radius: 50%;
        }

        .col .address-container {
            align-items: center;
            display: inline-block;
        }

        .row {
            width: 100%;
            align-items: center;
        }

        .address-input-group,
        .user-input-group {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        input[type="search"],
        input[type="text"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        button {
            padding: 10px;
        }

        #map {
            width: 1000px;
            height: 300px;
            position: relative;
            z-index: 0;
        }

        .user-round.dropdown .dropdown-toggle {
            background-color: transparent;
            border: none;
            padding: 0;
            box-shadow: none;
        }

        .user-round.dropdown .dropdown-toggle:focus {
            outline: none;
        }

        .user-round.dropdown .dropdown-menu,
        .user-round.dropdown .dropdown-item {
            border-radius: 20px;
        }

        .user-round.dropdown .dropdown-divider {
            margin: 0;
        }

        .avatar-container {
            position: relative;
        }

        .avatar-user {
            max-width: 60px;
        }

        .menu {
            display: none;
            position: absolute;
            top: 60px;
            right: 0;
            width: 150px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
        }

        .menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu li {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }

        .menu a {
            text-decoration: none;
            color: #333;
            display: block;
        }

        .menu a:hover {
            background-color: #f0f0f0;
        }

        #user-data-form {
            width: 100%;
        }

        #user-data-form input,
        #user-data-form button {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        #user-data-form input[type="file"] {
            border: none;
        }

        #image-preview-container {
            margin-bottom: 10px;
        }

        #image-preview {
            max-width: 100%;
            max-height: 100%;
        }

        #close-data-dialog,
        #save-data-dialog {
            background-color: #4CAF50;
            color: #fff;
            cursor: pointer;
            border: none;
        }

        #close-data-dialog:hover,
        #save-data-dialog:hover {
            background-color: #45a049;
        }

        /* Cart Styles */
        .cart-container {
            max-width: 250px;
        }

        #cart-btn {
            background-color: #28a745;
            color: #ffffff;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
        }

        .cart {
            display: none;
            position: absolute;
            top: 60px;
            right: 0;
            width: 250px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
            padding: 10px;
            border-radius: 5px;
        }

        .cart p {
            margin-bottom: 10px;
        }

        .delete-btn {
            background-color: #dc3545;
            color: #ffffff;
            border: none;
            padding: 5px 10px;
            margin-left: 5px;
            cursor: pointer;
        }

        .delete-btn:hover {
            background-color: #c82333;
        }

        .container{
            margin: 0 0 0 0;
            padding: 0;
            align-content: center;
        }