body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #38A9CC;
    padding: 10px 0;
    width: 100%;
}

.navbar img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}

.exit-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-top: 30px;
    font-size: 24px;
}



.container-fluid {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
}

.container{

}

.card-header h2 {
    margin-bottom: 0;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f8f9fa; /* Цвет фона при наведении */
}

.card {
    margin-top: 20px;
}

.card-body {
    padding: 20px;
}

.card-text {
    margin-bottom: 10px;
}

#responseTextArea {
    resize: vertical; /* Разрешить изменение высоты текстового поля по вертикали */
}

#sendResponseBtn {
    margin-top: 10px;
}

@media (max-width: 768px) {
    /* Пример адаптивной вёрстки для устройств с шириной экрана до 768 пикселей */
    .col-md-4, .col-md-8 {
        width: 100%;
        margin-bottom: 20px;
    }

    .card {
        margin-top: 0;
    }
}